# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

unused
build
obj
.vscode

solution.txt

!glpk/*
glpk/*.txt
glpk/*.mod

rendu/*
!rendu/rendu.tex
!rendu/rendu.pdf